.footer_cont{
    background-color: #070720;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contaner{
    height: fit-content;
    width: 90%;
    display: flex;
}
.copy{
    color: #3d3d3d;
    width: 230px;
}
.copy span{
    color: #007bff;
}
.contaner  ul li{
    font-size: 13px;
    padding: 10px;
}